/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

td {
    padding: 0;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 480px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 1230px) {

    h1, h2 {
        font-size: 36px;
    }

    blockquote {
        font-size: 12px;
    }

    .parallax-container .section {
        position: absolute;
        top: 1%;
    }

    #index-banner .section {
        top: 1%;
    }
}

@media only screen and (max-width: 1230px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        border: 0px;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding: 0%;
    }

    .slider {
        width: 96% !important;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

canvas {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

fieldset {
    /*display: block;*/
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
}

div.col div.card div.card-action a{
    text-transform: none;
    font-family: "Sans Serif", monospace;
}

div.card-action a:hover {
    text-decoration: none;
}

p {
    line-height: 2em;
}

.card-content p {
    font-size: 13px;
    line-height: 1.5em;
}

ol{
    line-height: 2em;
}